<div class="container">
    <div class="card" *ngFor="let product of products">
      <img [src]="product.mainImageSrc" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-sale">-{{product.sale}}%</p>
        <p class="card-gift" *ngIf="product.gift">+ Gift!</p>
        <h3 class="card-price">${{product.updatedPrice}} </h3>
        <div class="card-mass">
            <p *ngFor="let m of product.mass" (click)="updatePrice(m, product)">{{m}}g</p>
        </div>
        <div class="card-images">
          <div class="img-wrapper" *ngFor="let item of product.images">
            <img [src]="item" alt="alt" (click)="updateIMG(item, product)">
          </div>
        </div>
      </div>
    </div>
</div>