.only4u-card .img-wrapper {
  width: 100%;
  height: 175px;
  overflow: hidden;
}
.only4u-card {
  width: 259px;
  // border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin-bottom: 50px;
  overflow: hidden;
  box-shadow: 3px 6px 12px -4px;
}
.item-category {
  position: absolute;
  top: 5px;
  left: 10px;
  background: rgba(82, 5, 123, 0.1);
  border-radius: 4px;
  color: #52057b;
  padding: 6px 8px;
  font-size: 0.7em;
}
.only4u-card .starBG {
  width: 20px;
  height: 20px;
  background: linear-gradient(90deg, #e65c00 0%, #f9d423 100%);
  border-radius: 64px;
}
.only4u-card .star {
  width: 100%;
  height: 100%;
  align-items: center;
}
.only4u-card img {
  width: 100%;
  height: 100%;
}
.only4u-card .item-info {
  width: 100%;
  display: grid;
  grid-template-rows: 60px 30px 60px;
  grid-template-columns: 1fr 5em;
  row-gap: 10px;
  padding: 5px 15px;
  position: relative;
}
.only4u-card .review {
  grid-column-start: 2;
  grid-row-start: 2;
  // text-align: right;
  padding-left: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.only4u-card .item-name {
  margin: 33px 0;
  background: red;
  grid-column-start: 1;
  grid-column-end: 3;
}
.only4u-card .price {
  grid-column-start: 1;
  grid-row-start: 2;
  line-height: 40px;
}
.sold-q {
  grid-row-start: 3;
  grid-column-start: 2;
  line-height: 30px;
}
.only4u-card a.check-out {
  width: 100%;
  padding: 6px;
  font-size: 0.8em;
  border-radius: 4px;
  text-align: center;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 10px;
  transition: all 180ms ease-in-out;
}

.only4u-card {
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }

  button.learn-more {
    width: 12rem;
    height: auto;
  }

  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 40px;
    height: 40px;
    background: #282936;
    border-radius: 1.625rem;
  }

  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }

  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 10px;
    width: 13px;
    height: 0.125rem;
    background: none;
  }

  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }

  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
  }

  button:hover .circle {
    width: 100%;
  }

  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }

  button:hover .button-text {
    color: #fff;
  }
}

a.toProducts{
  margin: -25px 20px;
  font-size: 1.5em;
  button {
    padding: 0;
    border: none;
    background: none;

    *{
      font-size: inherit;
    }
  }
  
  button {
    --primary-color: #111;
    --hovered-color: #ffb300;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
  button p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
  }
  
  button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  button p::before {
    position: absolute;
  /*   box-sizing: border-box; */
    content: "Products";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  button:hover::after {
    width: 100%;
  }
  
  button:hover p::before {
    width: 100%;
  }
  
  button:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
  }
  
  button svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }
}