.container {
    width: 800px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.add {
    width: 250px;
    height: 50px;
    background: #68f;
    border: #57f solid 3px;
    color: #fff;
    font-size: 1.5em;
}
.inputs {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    margin-top: 50px;
    /* background: #000; */
}
.inputs input {
    font-size: 1.5em;
    border: #57f solid 1px;
    width: 300px;
    height: 50px;
}
.inputs button {
    width: 100px;
    height: 40px;
    border: none;
    background: #f00;
    color: #fff;
    margin-left: 30px;
}