:root {
    --bg: #e64b3b;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 430px;
    height: 370px;
    display: flex;
    background: #fff;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}
.headers * {
    text-align: center;
    font-weight: 400;
}
.headers h3 {
    color: gray;
    /* font-size: .8rem; */
}
.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}
.road {
    position: absolute;
    top: 33px;
    left: 0;
    border-radius: 50px;
    width: 10%;
    height: 5px;
    background: var(--bg);
    transition: width 0.3s ease;
}
  
.step {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 120px;
}
.step-text {
    margin-top: 10px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
    color: #aaa;
    border: 3px solid var(--bg);
    transition: all .2s ease-in;
    transition-delay: 100ms;
}
.icon.active {
    background: var(--bg);
    color: #fff;
}
.bi {
    color: inherit;
    font-weight: 900 !important;
    font-size: 1.5rem;
    line-height: 0.6;
    position: absolute;
    z-index: 2;
}
.btn-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.back, .next {
    width: 150px;
    height: 40px;
    font-weight: bold;
    background: var(--bg);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
.next {
    grid-column-start: 3;
}
.step-1::before {
    width: 33.33%;
  }
  
  .step-2::before {
    width: 66.67%;
  }
  
  .step-3::before {
    width: 100%;
  }
  