body {
    font-family: monospace, sans-serif;
    margin: 0;
}
img {
    border-radius: 5px;
}
.span-red {
    color: #f00;
}
.preview-info {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.preview-img img{
    width: 30vw;
    object-fit: cover;
}
.colors {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
}
.colors, .sizes {
    margin-top: 10px;
}
.colors :nth-child(1) {
    background: #000;
}
.colors :nth-child(2) {
    background: #00f;
}
.colors :nth-child(3) {
    background: #aaa;
}
.colors :nth-child(4) {
    background: #f00;
}
.colors > div {
    width: 30px;
    height: 30px;
    outline: 1px solid #aaa;
    outline-offset: 1px;
}
.colors > div.active {
    outline: 2px solid #f00;
}
.options-sizes {
    margin-top: 15px;
}
.quantity {
    display: inline-block;
    padding: 13px 15px;
    border: 1px solid #aaa;
    border-radius: 3px;
    text-align: center;
}
.buttons-wrapper button {
    cursor: pointer;
    margin-top: 15px;
    padding: 15px 25px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-weight: 700;
}
.buttons {
    display: inline;
}
.buttons :nth-child(1) {
    color: #fff;
    background: rgb(255, 50, 0);
}
.images {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 20px;
    /* background: red; */
    max-width: 30vw;
    box-sizing: border-box;
}
.images img {
    max-width: 18%;
    object-fit: cover;
}