.choice-categories{
    width: 100%;
    // height: 180px;
    gap: 50px;
    padding: 30px;
    overflow: visible;
}
.choice-category{
    box-shadow: 2px 2px 5px -2px;
    border-radius: 6px;
    width: 80px;
    padding: 7px;
}
.choice-category .icon-wrapper{
    width: 100%;
    aspect-ratio: 1;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 100px;
}
.icon-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.category-name{
    width: 100%;
    margin-top: 18px;
    text-align: center;
}