<h2 class="mt">choice category</h2>

<a routerLink="/products"></a>
<div class="choice-categories f-center mt">
    <div class="choice-category" *ngFor="let category of categoriesArray">
        <div class="icon-wrapper f-center">
            <img [src]="category.icon" alt="category">
        </div>
            <h5 class="category-name">
                {{category.title}}
            </h5>
    </div>
    
</div>

<!-- chamosashleli kategoriebi (others) -->
<!-- <app-other-categories></app-other-categories> -->