.container {
    margin-top: 50px !important;
    width: 100%;
    margin: auto;
}
.card {
    position: relative;
    height: 460px;
    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .card-text {
        height: 78px;
        overflow: hidden;
    }
    .btn-primary {
        position: absolute;
        bottom: 10px;
    }
}