/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
*:not(p, input){
    text-transform: capitalize;
}
html{
    display: flex;
    justify-content: center;
}
body {
    width: 97%;

}
img{
    object-fit: cover;
    transition: transform .2s ease-in-out;
}
img:hover{
  transform: scale(1.05);
}
.mt{
    margin-top: 40px;
}
.mt-xl{
    margin-top: 110px;
}
.text-center{
    text-align: center;
}
.f-center{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
}
.f-between{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.f-start{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}
.f-start-col{
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
}
.f-center-col{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    gap: 20px;
}
.f-between-col{
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}