.wrapper{
    width: min(600px, 90vw);
    height: min(500px, 80vh);
    background: linear-gradient(#fff, #bbbbbb);
    box-shadow: 0 5px 10px 0;
    border-radius: 10px;
    padding: 30px;
    margin: 110px auto;


    .errorMessage{
        position: absolute;
        left: 10px;
        bottom: 0;
        color: #f00;
    }
    
    h2{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 70px;
    }

    form{
        width: 100%;
        height: 100%;
        // box-shadow: 0 5px 15px 0;
        padding: 20px;

        input{
            border: none;
            border-bottom: 2px solid black;
            width: 100%;
            padding: 20px 10px;
            font-size: 1.3em;
        }
    }

    button{
        border: none;
        padding: .7em;
        font-size: 1.5em;
        box-shadow: 0 4px;
        border: 2px solid black;
        border-radius: 5px;
        transition: all .2 ease-in-out;
    }
    button:hover{
        filter: brightness(.8);
        // transform: translate(-3px, -4px);
        // box-shadow: 3px 4px;
    }
    button:active{
        transform: translate(0, 4px);
        box-shadow: 0 0;
    }
}